@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: url('../images/bg-auth.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Google Sans Flex", sans-serif;
}

.container {
    width: 425px;
    border: 2px solid #70acb1;
    border-radius: 10px;
    background-color: #ffffffd3;
    padding: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.596);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2.4rem;
    margin: 7.5px 0;
    text-decoration: underline;
}

.error-text {
    padding: 10px;
    margin: 4px 0;
    background: #69696999;
    border-radius: 5px;
    color: #ffffff;
}

.register-text {
    padding: 10px;
    margin: 4px 0;
    background: #72fc6d9f;
    border-radius: 5px;
    color: #292929;
}

label {
    margin-top: 12px;
    font-size: 1.43rem;
}

#dni, #nombre, #apellido, #email, #contraseña {
    margin-top: 3px;
    text-align: center;
    transition: 0.4s;
    font-size: 1.3rem;
    border-bottom: 1px solid #666666;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #3c3e44;
}

#dni:focus,
#nombre:focus,
#apellido:focus,
#email:focus,
#contraseña:focus {
    padding: 2px;
    border-radius: 2.5px;
    border: #332f42 1px solid;
}

.button-block {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-block input {
    font-family: "Google Sans Flex", sans-serif;
    padding: 5px;
    width: 105px;
    cursor: pointer;
    background: none;
    font-size: 1.2rem;
    border: 1px solid #0000005b;
    transition: 0.4s;
}

.button-block input:hover {
    border: 1px solid #ffffffe3;
    background: #255a5a4d;
}

p {
    font-size: 1.134rem;
}

p > a {
    text-decoration: none;
    color: #000000;
}

p > a:hover {
    color: #70acb1;
}
