@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Google Sans Flex", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background: #4d4e5e;
    height: 80px;
    padding: 15px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-logo img {
    width: 58px;
}

.header-logo h2 {
    font-size: 2.65rem;
    color: white;
    text-transform: uppercase;
}

.header-navbar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-navbar ul {
    list-style: none;
}

.header-navbar ul li {
    display: inline;
    margin: 0 20px;
}

.header-navbar ul li a {
    font-size: 1.6992rem;
    color: white;
}

.header-navbar ul li a:hover {
    color: #70acb1;
}

.header-user {
    width: 20%;
}

.header-user p {
    font-size: 1.6992rem;
    color: white;
}

.header-user p a {
    color: #a0a094;
}

.header-user p a:hover {
    color: #d9d9e4;
    text-decoration: underline;
}

.main {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* Libros */
.libros-error-text {
    color: red;
}

.libros-create {
    border: 2px solid #4d4e5e;
}

.button-create {
    border: 1px solid #70acb1;
}

.section-libros {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.list-libros {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000011;
    border-radius: 15px;
    padding: 15px;
}

.list-libros h2 {
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

thead {
    background: #4d4e5e;
    border-collapse: collapse;
}

tbody {
    background: #70acb1;
}

th {
    font-size: 1.4rem;
}

th, td {
    text-align: center;
    padding: 10px;
}

td {
    border-right: 1px solid black;
    font-size: 1.24rem;
}

td:last-child {
    border-right: none;
}

tfoot {
    background: #242427;
    color: #ffffff9c;
    font-size: 1.24rem;
    font-weight: 100;
    padding: 0;
    text-transform: uppercase;
}

.button-libro {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.button-libro input[type="submit"] {
    background: #00000005;
    padding: 5px 10px;
    border: 1px solid #00000000;
    cursor: pointer;
    font-weight: 400;
    transition: 0.4s;
}

.button-libro input[type="submit"]:hover {
    background: #ffffff93;
    font-weight: 700;
    border: 1px solid #585858;
    letter-spacing: 0.012px;
}

.link-create {
    background-color: #00000011;
    width: 100%;
    border-radius: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
}

.link-create a {
    border: 1px solid #00000000;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: #292a3148;
    border-radius: 25px;
}

.footer {
    background: #585858;
    color: white;
    display: flex;
    padding: 20px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}