@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Google Sans Flex", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background: #4d4e5e;
    height: 80px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
}

.header-logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-logo img {
    width: 58px;
}

.header-logo h2 {
    font-size: 2.65rem;
    color: #ffffff;
    text-transform: uppercase;
}

.header-navbar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-navbar ul {
    list-style: none;
}

.header-navbar ul li {
    display: inline;
    margin: 0 20px;
}

.header-navbar ul li a {
    font-size: 1.6992rem;
    color: #ffffff;
}

.header-navbar ul li a:hover {
    color: #70acb1;
}

.header-user {
    width: 20%;
}

.header-user p {
    font-size: 1.6992rem;
    color: #ffffff;
}

.header-user p a {
    color: #a0a094;
}

.header-user p a:hover {
    color: #d9d9e4;
    text-decoration: underline;
}

.main {
    padding: 40px;
    width: 100%;
}

section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h3 {
    font-size: 1.74rem;
    margin: 5px 0;
}

section p {
    font-size: 1.4rem;
    margin: 2.5px 0;
}

.stats {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    background: #00000011;
    border-radius: 15px;
    text-align: center;
}

.left-stats,
.right-stats {
    background: #00000022;
    display: flex;
    border-radius: 15px;
    gap: 20px;
    width: calc((100% / 2) - 25px);
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-stats div,
.right-stats div {
    margin: 5px 0;
    width: auto;
    height: auto;
}

.libros-stats {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background: #00000022;
}

.libros-stats ul {
    list-style: none;
    display: inline-block;
}

.lista-libros {
    margin: 10px 20px;
    font-size: 1.3312rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2.41px;
}

.disponible {
    text-decoration-color: #296f38;
}

.no-disponible {
    text-decoration-color: #a03131;
}

.prestamo-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    background: #00000022;
}

.prestamo-stats h3 {
    width: 100%;
}

.prestamo-data {
    border-radius: 10px;
    padding: 20px;
}

.prestamo-data span {
    font-weight: 600;
}

.multa {
    background: #ff000022;
    border: 1px solid #ec4242;
}

.multa span {
    color: #a03131;
}

.sin_multa {
    background: #00ff3722;
    border: 1px solid #296f38;
}

.sin_multa span {
    color: #1c5a29;
}

.login-div {
    background: #00000011;
    padding: 20px;
    text-align: center;
    width: 77.777%;
    margin-top: 30px;
    border-radius: 15px;
}

.login-div p {
    font-size: 1.22rem;
}

.login-div a {
    text-decoration: none;
    color: #000000;
}

.login-div a:hover {
    text-decoration: underline;
    color: #70acb1;
}

.footer {
    background: #4d4e5e;
    color: #ffffff;
    display: flex;
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    font-size: 1.35rem;
}